
.commentUserPicture{
    margin-right: 10px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    
}
.textArea {
    background-color: white;
    width: 100%;
    margin-top: 8px;
    color: black;
    font-size: 16px;
    resize: none;
    border: rgb(232, 232, 235)   ;
}


.commentOwnerText{
    font-weight: 500;
    color: black;
}

.commentContainer{
    color: 1px solid black;
    display: flex;
    flex-direction: row;
    margin-bottom:6px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

}

.commentText{
    color: rgb(85, 84, 84);
    display: flex;
    flex-direction: row;
    margin-bottom:6px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

}


.imgtext{
    display: flex;
    flex-direction: row;

}

.commentContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 14px;
    font-weight: 400;
    color: black;

    word-wrap:break-word;
}

.bottomSection{
    color: #90909A;
    font-size: 10px;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
  

}

.right{
    display: flex;
    justify-content: flex-end;
    margin-right: 3px;
    color: black;
    font-size: 14px;
}
.bottomIconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 16px;
    padding: 10px;
    cursor: pointer;
}
